.tombol {
  background-color: #FBA04F; /* warna latar belakang tombol */
  border: none; /* menghilangkan border tombol */
  color: #1A1A1A; /* warna teks tombol */
  padding: 60px 120px; /* jarak antara teks dengan batas luar tombol */
  text-align: center; /* mengatur teks tombol menjadi rata tengah */
  text-decoration: none; /* menghilangkan dekorasi hyperlink pada tombol */
  display: inline-block; /* menampilkan tombol sebagai elemen inline */
  font-size: 70px; /* ukuran teks tombol */
  margin: 10px; /* jarak antara tombol dengan elemen lainnya */
  border-radius: 40px; /* membuat sudut tombol menjadi lebih melengkung */
  transition-duration: 0.3s; /* waktu transisi saat tombol dihover */
  margin-left: 3000px;
}

.tombol:hover {
  background-color: white; /* warna latar belakang tombol saat dihover */
  color: #1A1A1A; /* warna teks tombol saat dihover */
  border: 2px solid #FBA04F; /* menambahkan border saat tombol dihover */
}
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #CE2949;
  color: white;
  padding: 5px;
  text-align: center;
}


.header{
  background-color: #CE2949;
}

.header .logo{
  margin: 200px 50px 200px 50px;
  width: 1570px;
}

.header .hiasan{
  float: right;
}


.header li{
  font-size: 70px;
  color: white;
  font-family: Arial;
  float: left;
  margin-left: 200px;
  list-style: none;
}

ul{
float: right;
margin-top: 500px;
margin-right: -1000px;
}

.header li:hover{
  border-bottom: 5px solid white;
  padding-bottom: 25px;
  cursor: pointer;
}

.header li:active {
  scale: 1.1;
}